  <div style="display: flex;">
    <button routerLink="/operators/take">take</button>
    <button routerLink="/operators/takeLast">takeLast</button>
    <button routerLink="/operators/takeUntil">take until</button>
    <button routerLink="/operators/takeWhile">take while</button>
    <button routerLink="/operators/skip">skip operator</button>
    <button routerLink="/operators/skipLast">skip last</button>
    <button routerLink="/operators/skipUntil">skip until</button>
    <button routerLink="/operators/skipWhile">skip while</button>
    <button routerLink="/operators/filter">filter operator</button>
    <button routerLink="/operators/merge-map">merge map</button>
    <button routerLink="/operators/concat-map">concat map</button>
    <button routerLink="/operators/switch-map">switch map</button>
  </div>

  <br>
  <br>

  <div style="display: flex;">
    <button routerLink="/operators/subject">subject</button>
  </div>


<router-outlet></router-outlet>

